body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

*, ::before, ::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 1rem;

    &-thumb {
        border: calc(1rem / 3) solid transparent;
        border-radius: .5rem;
        background-color: #ddd;
        background-clip: content-box;   
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    transition: .25s filter;

    &:hover {
        filter: brightness(.95);
    }

    &:active {
        filter: brightness(.9);
    }
}

.good-item-remove,
.good-item-add,
.good-item-check  {
    flex-shrink: 0;
    aspect-ratio: 1;
    height: 2.25rem;
    gap: .25rem;
    border: 0;
    border-radius: 4px;
    color: white;

    &.small {
        height: 1.5rem;
    }
}

.good-item-check {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    color: unset;
}

.good-item-remove {
    background-color: #f55;
}

.good-item-add {
    background-color: #5af;
}

#app {
    display: flex;
    width: 1366px;
    height: 768px;
    gap: 1rem;
}

#categories {
    display: flex;

    .category {
        padding: 1rem;
        cursor: pointer;
        transition: .25s;
        background-color: white;
    
        &:hover {
            background-color: #00000008;
        }
    
        &:active {
            background-color: #00000010;
        }

        &.active {
            background-color: #fff0d0;
        }
    }
}

.search {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 0 1rem;
    gap: .25rem;

    input {
        border: 0;
        background-color: 0;
        outline: none;
        border-bottom: 1px solid #0002;
        padding: .5rem;
    }
}

#market {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 0;
    overflow: hidden;
    position: relative;
    border: 1px solid #0002;
    border-radius: 8px;
}

#good-list {
    display: grid;
    grid:  auto-flow 1fr / 1fr 1fr 1fr 1fr;
    gap: 1rem;
    max-height: 100%;
    overflow: auto;
    padding: 1rem;
    padding-right: 0;
}

.good-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.good-item-name {
    text-align: center;
}

.good-item-image {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.good-item-actions {
    display: flex;
    gap: .5rem;

    .good-item-check {
        flex-grow: 1;
    }
}

#good-detail {
    display: grid;
    align-items: center;
    grid: 1fr / 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .875);
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s left;
    padding: 2rem;

    &:not(.show) {
        left: 100%;
    }
}

.good-detail-close {
    border: 0;
    font-size: 1.33333em;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    color: #888;
    background: white;
    border-radius: 50%;
    margin: .5rem;
    position: absolute;
    top: 0;
}

.good-detail-image {
    display: block;
    margin: auto;
    width: calc(100% - 4rem);
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.good-detail-information {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 300px;
}

.good-detail-name {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.good-detail-price {
    text-align: center;
}

.good-detail-action {
    display: flex;
    gap: .5rem;
}

.good-detail-count {
    flex-grow: 1;
    text-align: center;
    font-size: 1.25rem;
}

.good-detail-ingredients {
    font-size: .875rem;
    color: #888;
}

.good-detail-introduction {
    flex-grow: 1;
}

#order-detail {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border: 1px solid #0002;
    border-radius: 8px;
}

.order-header {
    padding: 1rem;
    text-align: center;
}

.order-body {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    flex-grow: 1;
    width: 300px;    
    overflow-y: scroll;
    margin-right: -1rem;
}

.order-item {
    display: flex;
    padding: .5rem;
    gap: .5rem;
    align-items: center;
}

.order-item-image {
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4px;
    width: 4rem;
}

.order-detail {
    flex-grow: 1;
}

.order-item-cost {
    font-size: .875rem;
}

.order-footer {
    padding: 1rem;
}